# Ignore environment variables file
.env

# Ignore node_modules directory
node_modules/

# Optional: Ignore log files
*.log
logs
npm-debug.log*

# Optional: Ignore operating system files (like MacOS or Windows specific files)
.DS_Store
Thumbs.db