@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input {
    display: none;
  }

  input[type="checkbox"] {
    --active: #5628ee;
    --active-inner: #fff;
    --input-border: #cdd9ed;
    --input-border-hover: #23c4f8;
    --background: #fff;
    --disabled: #f5f9ff;
    --disabled-inner: #e4ecfa;
    --shadow-inner: rgba(18, 22, 33, 0.1);

    display: block;
    width: 21px;
    height: 21px;
    border-radius: 6px; /* Slightly rounded corners */
    outline: none;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    border: 1px solid var(--input-border);
    background: var(--background);
    transition: background 0.3s ease, border-color 0.3s ease;
  }

  /* Checkbox inner tick mark */
  input[type="checkbox"]::after {
    content: "";
    display: block;
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    position: absolute;
    left: 7px;
    top: 4px;
    transform: rotate(20deg);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.2s ease, filter 0.3s ease;
  }

  /* Checked state */
  input[type="checkbox"]:checked {
    background: var(--active);
    border-color: var(--active);
  }

  input[type="checkbox"]:checked::after {
    opacity: 1;
    filter: drop-shadow(0 1px 2px var(--shadow-inner));
    transform: rotate(43deg);
    transition: opacity 0.3s ease, filter 0.3s ease,
      transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
  }
}

/* Styles for dynamically added text inputs */
label {
  display: flex;
  align-items: center;
  gap: 5px;
}
